body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}
 
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f5eff2;
    color: #522f3c;
    border-bottom: 6px solid #d4c2cf;

}

.border-blue {
    border: 1px dotted rgb(156, 137, 150);
}

